---
---

@import"{{ site.theme }}";
.page-header {
    color: #fff;
    text-align: center;
    background-color: #491B1D;
    background-image: none;
    font-family: "DM Serif Display"
}
body {
    padding: 0;
    margin: 0;
    font-family: "DM Serif Display";
    font-size: 16px;
    line-height: 1.5;
    background-color: #edbeaf;
    color: #743A36;
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #491B1D;
}
body {
    padding: 0;
    margin: 0;
    font-family: "DM Serif Display";
    font-size: 16px;
    line-height: 1.5;
    color: #743A36;
}
.main-content blockquote {
    padding: 0 1rem;
    margin-left: 0;
    color: #743A36;
    border-left: 0.3rem solid #B96A59;
}
.main-content ul {
    color: #743A36;
}
.main-content ol {
    color: #743A36;
}
li {
    color: #B96A59;
}
.site-footer-credits {
    color: #491B1D;
}
